.score-container {
  width: 800px;
  margin-top: 20vh;
}

.table-text {
  font-family: "Reggae One", cursive;
  font-size: 3rem;
  color: white;
}

.line {
  background-color: white;
  height: 5px;
  border-radius: 2px;
}
