.score-container {
  min-width: 800px;
  margin-top: 10vh;
  overflow-y: scroll;
  @media only screen and (max-width: 600px) {
    width: 300px;
    min-width: 0;
  }
}

.line {
  background-color: white;
  height: 5px;
  border-radius: 2px;
}

.hide-overflow {
  max-width: 100%;
}

.continue-button {
  position: absolute;
  top: 20px;
  right: 30px;
}