.third {
  position: absolute;
  bottom: 20vh;
  right: 25vw;
}
.second {
  position: absolute;
  bottom: 40vh;
  left: 25vw;
}
.first {
  padding-top: 20vh;
}

.bronze {
  color: #c5ab84;
}

.silver {
  color: #adadad;
}

.gold {
  color: #ffe001;
}
