<div class="d-flex w-100 h-100 justify-content-center align-items-center">
  <div
    class="
      box
      d-flex
      position-relative
      justify-content-center
      align-items-center
    "
  >
    <div class="d-flex flex-column align-items-center">
      <h1>The lobby code is {{ lobbyCode }}</h1>
      <button (click)="startGame()" class="btn btn-primary">START</button>
    </div>
    <div *ngFor="let player of playerArray">
      <div class="position-absolute name" [ngStyle]="styleObject(player)">
        {{ player.name }}
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="error"
  class="top alert alert-danger alert-dismissible fade show"
  role="alert"
>
  No players in the lobby! Wait for some to join.
  <button
    (click)="error = false"
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
