<div class="party-background vw-100 vh-100">
  <app-countdown
    *ngIf="countdownScreen"
    (valueEmitter)="startNextQuestion()"
  ></app-countdown>
  <app-question
    *ngIf="questionScreen"
    (questionFinishedEmitter)="questionFinished()"
    [currentQuestion]="currentQuestion"
  ></app-question>
  <app-correct-answer
    (answerFinishedEmitter)="answerFinished()"
    *ngIf="answerScreen"
    [correctAnswer]="correctAnswer"
  ></app-correct-answer>
  <app-results-screen
    (resultsFinishedEmitter)="resultsFinished()"
    *ngIf="resultsScreen"
    [players]="players"
    [oldScores]="oldScores"
  ></app-results-screen>
</div>
